body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #013A12, #013A12);
    color: #D1F7E7;
    overflow: hidden;
}

h1 {
    font-size: 10rem;
}

.github{
    background-color: #D1F7E7;
    width: 100px;
    position: absolute;
    top: 30px;
    right: -100px;
    cursor: pointer;
    rotate: 40deg;
    background-color: #D1F7E7;
    padding-left: 100px;
    padding-right: 100px;
}
.github-icon{
    width: 100px;
    cursor: pointer;
    padding-top: 3px;
}


footer{
    position: absolute;
    bottom: 10px;
    font-size: 0.9rem;
}

footer a{
    color: #D1F7E7;
}


